@charset "utf-8";
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,td{margin:0;padding:0;}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  display:inline-block;
}
em,i{
  font-style: normal;
}
input{
  //display: block;
  border:none;
}
b,strong{
  font-weight: normal;
}
html,body{
  width:100%;
}
$browser-default-font-size: 72px !default;
html{
  font-size: $browser-default-font-size;
}
@function pxTorem($px){
  @return $px / $browser-default-font-size * 1rem;
}
@font-face {font-family: 'iconfont';
  src: url('../iconfont/iconfont.eot'); /* IE9*/
  src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;}
/*--------------------------------*/
header {
  position: relative;
  width:100%;
  height:100%;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height:100%;
}
.swiper-pagination .swiper-pagination-bullet-active{
  background:#0bca97;
}
.Btn .swiper-pagination-bullet-active{
  background: #9e9e9e;
}
.swiper-slide {
  width: 100%;
  height:pxTorem(352px);
  text-align: center;
  font-size: pxTorem(18px);
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  img{
    width:100%;
    height:100%;
  }
}

/*----------------------------nav---------------------------------*/
.nav{
  width:100%;
  height:6.5rem;
  .nav-ul1{
    width:100%;
    height:3.24rem;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    .nav-ul1-li1 img{
      background: #e29f37;
    }
    .nav-ul1-li2{
      img{
        background:#cc2827;
      }
    }
    .nav-ul1-li3{
      img{
        background:#7542dd;
      }
    }
    .nav-ul1-li4{
      img{
        background:#2ec961;
      }
    }
    .nav-ul1-li5{
      img{
        background:#fbc800;
      }
    }
    li{
      width: 25%;
      height:2.31rem;
      position: relative;
      text-align: center;
      margin-top:0.56rem;
      img{
        width:1.48rem;
        height:1.48rem;
        border-radius: 50%;
      }
      span{
        display: block;
        margin-top:0.2rem;
        font-size:0.3rem;
      }
    }
  }

  .nav-ul2-li6{
    width:2.5rem;
    img{
      background: #1593e0;
    }

  }
  .nav-ul2-li7{
    width:2.2rem;
    img{
      background: #e545e5;
    }

  }
  .nav-ul2-li8 img{
    background: #15bbf9;
  }
  .nav-ul2-li9 img{
    background: #ec4386;
  }
  .nav-ul2-li10 img{
    background: #ff4c55;
  }

  li{
    width:2.3rem;
    height:2.31rem;

    position: relative;
    text-align: center;
    img{
      width:1.48rem;
      height:1.48rem;
      border-radius: 50%;
      background: #e29f37;
    }
    span{
      display: block;
      margin-top:0.2rem;
      font-size:0.3rem;
    }
  }

}
.swiper-container {
  width: 100%;
  position: relative;
  background: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.14rem;
  color: #000;
  margin: 0;
  padding: 0; }

.swiper-slide {
  text-align: center;
  font-size: 0.14rem; }

.swiper-slide img {
  width: 100%;
  height: 100%; }

/*----------------box-----*/
.box{
  width:100%;
  height:pxTorem(18px);
  background: #f2f2f2;
}
/*---------------main--------------*/
#main{
  width: 100%;
  height:pxTorem(320px);
  padding-left:  4.2%;
  display: flex;
  flex-wrap: wrap;
  .main-dl{
    width:46%;
    height:pxTorem(159px);
    border-bottom: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    display: flex;
    align-items: center;
    dt{
      h5{
        font-size:pxTorem(26px) ;
        color:#797979;

      }
      span{
        font-size:pxTorem(20px) ;
        color:#8d8d8d;
      }
    }
    dd{
      margin-left:11%;
      img{
        width:pxTorem(85px);
        height:pxTorem(85px);
        border-radius: 100%;
      }
    }
  }
  .main-dl2{
    width:54%;
    height:pxTorem(159px);
    border-bottom: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    dt{
      margin-left: 10%;
      h5{
        font-size:pxTorem(26px) ;
        color:#797979;

      }
      span{
        font-size:pxTorem(20px) ;
        color:#8d8d8d;
        white-space: nowrap;
      }
    }
    dd{
      margin-left:20%;
      margin-right:8.4%;
      img{
        width:pxTorem(85px);
        height:pxTorem(85px);
        border-radius: 100%;
      }
    }
  }
}
/*----------main2-------------*/
#main2{
  width:100%;
  padding-top:pxTorem(30px) ;
  height:pxTorem(67px);
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  .main2-div1{
    display: flex;
      em{
        display: block;
        width:pxTorem(15px);
        height:pxTorem(40px);
        background: #ce4845;
      }
      span{
        font-size:pxTorem(34px) ;
        margin-left:2%;
        white-space: nowrap;
      }
  }
 .main2-div2{
   display: flex;
   line-height:pxTorem(32px) ;
   span{
     font-size:pxTorem(32px) ;
     color:#5fc7a4;
     margin-right:2%;
     white-space: nowrap;
   }
   em{
     display: block;
     width:pxTorem(30px) ;
     height:pxTorem(30px) ;
     border:1px solid #2ec961;
     color:#5fc7a4;
     font-size:pxTorem(28px) ;
     text-align: center;
     line-height:pxTorem(30px) ;
   }
 }
}
/*------main3-------*/
#main3{
  width:100%;
  height:pxTorem(232px);
  padding-left: 3.1%;
  padding-top:pxTorem(17px) ;
  .main3-dl{
    display: flex;
    dt{
      width:pxTorem(310px);
      height:pxTorem(200px);
      img{
        width:100%;
        height:100%;
      }
    }
    dd{
      display: flex;
      flex-direction: column;
      margin-left: 4.6%;
      .main3-dd1{
        display: flex;
        align-items: center;
        em{
          font-size:pxTorem(24px);
          white-space: nowrap;
        }
        img{
          margin: 0 3.5%;
          width:pxTorem(45px);
          height:pxTorem(45px);
        }
        span{
          font-size:pxTorem(24px);
          white-space: nowrap;
        }
      }
      p{
        height:pxTorem(88px);
        line-height:pxTorem(88px) ;
        font-size:pxTorem(26px);
        color:#efc684;
      }
      .main4-dd1{
        display: flex;
        align-items: center;
        img{
          width:pxTorem(45px);
          height:pxTorem(45px);
          margin-right: 3%;
        }
        span{
          display: block;
          display: flex;
          white-space: nowrap;
          em{
            display: block;
            width:pxTorem(35px);
            height:pxTorem(45px);
            font-size:pxTorem(32px) ;
            background: #333333;
            text-align: center;
            line-height:pxTorem(45px) ;
            color:white;
          }
          i{
            display: block;
            width:pxTorem(35px);
            height:pxTorem(45px);
            background: #333333;
            text-align: center;
            line-height:pxTorem(45px) ;
            font-size:pxTorem(32px) ;
            color:white;
          }
          b{
            display: block;
            width:pxTorem(35px);
            height:pxTorem(45px);
            text-align: center;
            line-height:pxTorem(45px) ;
            background: #333333;
            font-size:pxTorem(32px) ;
            color:white;
          }
          strong{
            margin:0 3%;
            font-size:pxTorem(32px) ;
          }
        }
      }
    }
  }
}
/*------------main4-------------*/
#main4{
  width:100%;
  padding-top:pxTorem(30px) ;
  height:pxTorem(67px);
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  .main2-div1{
    display: flex;
    em{
      display: block;
      width:pxTorem(15px);
      height:pxTorem(40px);
      background: yellow;
    }
    span{
      font-size:pxTorem(34px) ;
      margin-left:2%;
      white-space: nowrap;
    }
  }
  .main2-div2{
    display: flex;
    line-height:pxTorem(32px) ;
    span{
      font-size:pxTorem(32px) ;
      color:#5fc7a4;
      margin-right:2%;
      white-space: nowrap;
    }
    em{
      display: block;
      width:pxTorem(30px) ;
      height:pxTorem(30px) ;
      color:#5fc7a4;
      font-size:pxTorem(28px) ;
      text-align: center;
      line-height:pxTorem(30px) ;
    }
  }
}
/*---------main5------------*/
#main5 {
  width:100%;
  height:pxTorem(385px);
  display: flex;
  .main5-dl{
    width:27.78%;
    margin:0  2.7%;
    dt{
      display: flex;
      flex-direction: column;
      span{
        margin-top:pxTorem(35px);
        color:#ffa588;
        font-size:pxTorem(28px) ;
      }
      .main5-dl-span1{
        color:#1a9bdd;
      }
      .main5-dl-span2{
        color:#f5c05a;
      }
      em{
        margin-top:pxTorem(22px);
        color:#7b7b7b;
        font-size:pxTorem(20px) ;
      }
    }
    dd{
      margin-top:pxTorem(90px) ;
      img{
        width:pxTorem(200px);
        height:pxTorem(193px);
      }
    }
  }
  p{
    margin-top:pxTorem(48px);
    width: 1px;
    height:pxTorem(300px);
    border:1px solid #d2d2d2;
  }
}
/*----------main2-------------*/
#main6{
  width:100%;
  padding-top:pxTorem(30px) ;
  height:pxTorem(67px);
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  margin-bottom:pxTorem(38px);
  .main2-div1{
    display: flex;
    em{
      display: block;
      width:pxTorem(15px);
      height:pxTorem(40px);
      background: #ef9934;
    }
    span{
      font-size:pxTorem(34px) ;
      margin-left:2%;
      white-space: nowrap;
    }
  }
  .main2-div2{
    display: flex;
    line-height:pxTorem(32px) ;
    span{
      font-size:pxTorem(32px) ;
      color:#5fc7a4;
      margin-right:2%;
      white-space: nowrap;
    }
    em{
      display: block;
      width:pxTorem(30px) ;
      height:pxTorem(30px) ;
      border:1px solid #2ec961;
      color:#5fc7a4;
      font-size:pxTorem(28px) ;
      text-align: center;
      line-height:pxTorem(30px) ;
    }
  }
}
/*-----------main7-----*/
#main7{
  width:100%;
  padding: 0 2.5%;
  .main7-ul{
    li{
      width:100% ;
      height:pxTorem(225px) ;
      margin-bottom:pxTorem(24px) ;
      img{
        width:100% ;
        height:100%;
      }
    }
  }
}
.Box{
  width:100%;
  height:1.85rem;
}
/*---------------------------------------------------------foot-----------------*/
#footer{
  position: fixed;
  bottom:0;
  width:100%;
  height:1.85rem;
  background: white;
  .foot-ul{
    width:100%;
    height:1.85rem;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    align-items: center;
    li{
      width:100%;
      text-align: center;
      img{
        width:0.6rem;
        height:0.625rem;
        text-align: center;
      }
      span{
        font-size: 0.4rem;
        color:#9e9e9e;
      }
    }
  }
}



