* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select, td {
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  display: inline-block; }

em, i {
  font-style: normal; }

input {
  border: none; }

b, strong {
  font-weight: normal; }

html, body {
  width: 100%; }

@font-face {
  font-family: 'iconfont';
  src: url("../iconfont/iconfont.eot");
  /* IE9*/
  src: url("../iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("../iconfont/iconfont.woff") format("woff"), url("../iconfont/iconfont.ttf") format("truetype"), url("../iconfont/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

/*----------------header---------------*/
#member-header {
  width: 100%;
  height: 11.94444vw;
  background: #45c298;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999; }
  #member-header em {
    font-size: 4.16667vw;
    color: white; }
  #member-header span {
    font-size: 4.16667vw;
    color: white; }
  #member-header p {
    width: 5.55556vw;
    height: 7.77778vw; }
    #member-header p img {
      width: 100%;
      height: 100%; }

/*------banner----*/
#member-banner {
  width: 100%;
  height: 72.77778vw; }
  #member-banner img {
    width: 100%;
    height: 100%; }

/*--------nav---*/
.member-nav {
  width: 100%;
  height: 10vw;
  padding: 0 3.5%;
  background: #eeeeee; }
  .member-nav ul {
    width: 100%;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .member-nav ul li a {
      font-size: 4.72222vw;
      white-space: nowrap; }
    .member-nav ul li:nth-child(1) {
      padding-right: 20.83%; }
      .member-nav ul li:nth-child(1) a {
        display: block;
        color: #ef3a00; }
    .member-nav ul li:nth-child(2) a {
      color: #128ffb; }

#member-award {
  width: 100%;
  height: 100%; }
  #member-award img {
    display: block;
    width: 100%;
    height: 35.55556vw; }

/*----member-banner2-----*/
#member-banner2 {
  width: 100%;
  height: 73.19444vw;
  padding: 0 3.5%; }
  #member-banner2 .member-banner2-div1 {
    width: 100%;
    height: 12.22222vw;
    display: flex;
    align-items: center; }
    #member-banner2 .member-banner2-div1 em {
      display: block;
      width: 20%;
      font-size: 3.33333vw;
      color: #b4b4b4; }
    #member-banner2 .member-banner2-div1 .member-banner2-div2 {
      width: 80%;
      height: 3.61111vw;
      position: relative;
      overflow: hidden; }
      #member-banner2 .member-banner2-div1 .member-banner2-div2 p {
        font-size: 3.33333vw;
        color: #b4b4b4;
        position: absolute;
        left: 100%;
        white-space: nowrap; }
  #member-banner2 .member-banner2-ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    #member-banner2 .member-banner2-ul li {
      width: 29.16667vw;
      height: 15.27778vw;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; }
      #member-banner2 .member-banner2-ul li a {
        text-decoration: none;
        font-size: 4.44444vw;
        color: white; }
    #member-banner2 .member-banner2-ul li:nth-child(1) {
      background: #a1d70f; }
    #member-banner2 .member-banner2-ul li:nth-child(2) {
      background: #f15664; }
    #member-banner2 .member-banner2-ul li:nth-child(3) {
      background: #00c8c3; }
    #member-banner2 .member-banner2-ul li:nth-child(4) {
      margin-top: 2.77778vw;
      background: #febf00; }
      #member-banner2 .member-banner2-ul li:nth-child(4) a {
        font-size: 2.77778vw; }
        #member-banner2 .member-banner2-ul li:nth-child(4) a span {
          font-size: 5vw; }
    #member-banner2 .member-banner2-ul li:nth-child(5) {
      margin-top: 2.77778vw;
      background: #fe8c12; }
      #member-banner2 .member-banner2-ul li:nth-child(5) a {
        font-size: 2.77778vw; }
        #member-banner2 .member-banner2-ul li:nth-child(5) a span {
          font-size: 5vw; }
    #member-banner2 .member-banner2-ul li:nth-child(6) {
      margin-top: 2.77778vw;
      background: #44d2e8; }
      #member-banner2 .member-banner2-ul li:nth-child(6) a {
        font-size: 2.77778vw; }
        #member-banner2 .member-banner2-ul li:nth-child(6) a span {
          font-size: 5vw; }
          #member-banner2 .member-banner2-ul li:nth-child(6) a span i {
            font-size: 2.77778vw; }
    #member-banner2 .member-banner2-ul li:nth-child(7) {
      margin-top: 5.55556vw;
      border: 1px solid #f97803; }
      #member-banner2 .member-banner2-ul li:nth-child(7) a {
        color: #f97803; }
    #member-banner2 .member-banner2-ul li:nth-child(8) {
      margin-top: 5.55556vw;
      background: #ff8001; }
      #member-banner2 .member-banner2-ul li:nth-child(8) a {
        font-size: 5.55556vw; }
        #member-banner2 .member-banner2-ul li:nth-child(8) a span {
          font-size: 2.77778vw; }
    #member-banner2 .member-banner2-ul li:nth-child(9) {
      margin-top: 5.55556vw;
      border: 1px solid #f97803; }
      #member-banner2 .member-banner2-ul li:nth-child(9) a {
        color: #f97803; }

/*-----member-main------*/
#member-main {
  width: 100%;
  height: 100%;
  background: #eeeeee; }
  #member-main #member-main-search {
    width: 100%;
    padding: 0 3.05556vw;
    height: 13.88889vw;
    display: flex;
    align-items: center; }
    #member-main #member-main-search span {
      font-size: 2.77778vw;
      color: #333333;
      margin-right: 3.47222vw; }
    #member-main #member-main-search .member-main-searchDiv {
      width: 75vw;
      height: 8.33333vw;
      border: 1px solid #bdbdbd;
      border-radius: 1.38889vw 1.38889vw 1.38889vw 1.38889vw;
      position: relative;
      background: white; }
      #member-main #member-main-search .member-main-searchDiv i {
        font-size: 6.94444vw;
        position: absolute;
        right: 0;
        color: #333333; }
      #member-main #member-main-search .member-main-searchDiv input {
        width: 74.72222vw;
        height: 8.05556vw;
        border-radius: 1.38889vw 1.38889vw 1.38889vw 1.38889vw;
        font-size: 2.77778vw;
        color: #b2b2b2;
        text-indent: 3.05556vw; }

/*------------------*/
.member-nav2 {
  width: 100%;
  height: 12.08333vw;
  background: #eeeeee; }
  .member-nav2 ul {
    width: 100%;
    height: 12.08333vw;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between; }
    .member-nav2 ul li {
      width: 27.77778vw;
      height: 12.08333vw;
      display: flex; }
      .member-nav2 ul li a {
        display: block;
        text-align: center;
        line-height: 9.72222vw;
        font-size: 4.16667vw;
        color: #000000;
        width: 27.77778vw;
        height: 9.72222vw;
        border-radius: 1.38889vw;
        background: white;
        border: 1px solid #a5e8ee; }
    .member-nav2 ul li:first-child {
      background: white;
      border-radius: 1.38889vw; }
      .member-nav2 ul li:first-child a {
        border: none; }

.member-nav3 {
  width: 95%;
  margin-left: 2.5%;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .member-nav3 .member-nav3Div {
    margin-top: 4.86111vw;
    display: flex;
    margin-left: 2.5%;
    margin-bottom: 4.16667vw; }
    .member-nav3 .member-nav3Div em {
      font-size: 3.33333vw;
      color: #838383; }
    .member-nav3 .member-nav3Div i {
      font-size: 5vw;
      color: #838383;
      margin: 0 1.66667vw; }
    .member-nav3 .member-nav3Div span {
      font-size: 3.33333vw;
      color: #838383; }
  .member-nav3 .member-nav3Div2 {
    margin-right: 2.5%;
    margin-top: 4.86111vw;
    display: flex; }
    .member-nav3 .member-nav3Div2 strong {
      font-size: 4.16667vw;
      color: #adadad;
      margin-right: 1.66667vw; }
      .member-nav3 .member-nav3Div2 strong b {
        font-size: 4.16667vw;
        color: #ffa14b; }
    .member-nav3 .member-nav3Div2 p {
      width: 18.05556vw;
      height: 8.05556vw;
      background: #ffa14b;
      font-size: 3.88889vw;
      color: white;
      text-align: center;
      line-height: 8.05556vw; }

/*----------------*/
#member-title {
  width: 100%;
  height: 18.05556vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  #member-title p {
    font-size: 3.88889vw;
    color: #ffa14b; }

.member-section {
  width: 100%;
  padding: 0 2.5vw;
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap; }
  .member-section dl {
    width: 46.38889vw;
    height: 43.33333vw;
    margin-bottom: 3.33333vw; }
    .member-section dl dt {
      width: 46.38889vw;
      height: 32.22222vw; }
      .member-section dl dt img {
        width: 100%;
        height: 100%; }
    .member-section dl dd {
      width: 46.38889vw;
      height: 11.11111vw;
      background: white;
      display: flex;
      justify-content: space-between; }
      .member-section dl dd span {
        margin-top: 4.72222vw;
        font-size: 2.77778vw;
        color: #ff8001; }
        .member-section dl dd span em {
          font-size: 4.44444vw; }
      .member-section dl dd p {
        margin-top: 3.47222vw;
        width: 20.83333vw;
        height: 6.66667vw;
        background: #ff8001;
        text-align: center;
        line-height: 6.66667vw;
        font-size: 3.88889vw;
        color: white; }

#member-banner3 {
  margin-top: 4.44444vw;
  width: 100%;
  height: 68.75vw; }
  #member-banner3 img {
    width: 100%;
    height: 100%; }

/*# sourceMappingURL=member.css.map */
